.layout {
  /*background-color: var(--green-50);*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*position: relative;*/
  display: flex;

  &__sidebar {
    min-width: 120px;
    transition: all 0.3s ease;
  }
  &__routes {
    /*margin: 3rem;*/
    padding: 3rem;
    width: 100%;
    /*here*/
    background-color: var(--green-50);

    min-height: 100vh;
    /*
    overflow-x: hidden;
    */
  }

  &__sidebarExpand {
    min-width: 290px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 768px) {
  .layout {
    overflow-y: scroll;

    &__routes {
      margin: 0;
      width: 100%;
      margin-bottom: 100px;
    }

    &__sidebar {
      display: none;
    }

    &__sidebarExpand {
      display: none;
    }
  }
}
