.form {
  position: relative;
  padding: 5rem;

  div {
    margin: 2rem 0;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &__buttons {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;

    button {
      padding: 1.5rem;
      width: 45%;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 7px;
      font-size: 1.6rem;
      font-weight: 500;

      > img {
        margin-left: 1rem;
      }
    }
  }
  &__income {
    border-color: var(--green-300) !important;
    span {
      color: var(--green-300) !important;
    }
  }
  &__outcome {
    border-color: var(--red-200) !important;
    span {
      color: var(--red-200) !important;
    }
  }

  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__submit {
    input {
      border-radius: 6px;
      padding: 1.2rem;
      display: block;
      width: 100%;
      cursor: pointer;
      border: none;
      background-color: var(--green);
      color: var(--white);
      font-weight: 600;
      font-size: 1.4rem;
      height: 4.4rem;
      margin-bottom: 1.5rem;

      transition: all 0.2s ease;

      &:hover {
        background-color: #3bb098;
      }
    }
  }
}
