* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;

  --green: #41c3a9;
  --green-50: #ebf5f3;
  --green-100: #def3ef;
  --green-200: #f7fafb;
  --green-300: #78b653;
  --green-600: #185f50;

  --gray-100: #f7fafb;
  --gray-200: #dcdcdc;
  --gray-300: #dadada;
  --gray-400: #afafaf;
  --gray-450: #a4a4a4;
  --gray-500: #72818d;
  --gray-550: #959595;
  --gray-600: #7d7d7d;

  --red-100: #f46f6f;
  --red-200: #cb4848;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.user__modal {
  position: absolute;
  top: 180px;
  left: auto;
  right: 0%;
  bottom: auto;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
  background-color: white;
  padding: 1.5rem 1rem;
  box-shadow: 0px 8px 29px -5px rgba(0, 0, 0, 0.15);
}

.user__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
}

.toastify {
  background-color: #e43333 !important;
  color: white !important;
  &__error {
    font-size: 1.5rem;
  }
}

.global__modal {
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  */
  border: none;
  border-radius: 15px;
  background-color: white;
  padding: 1rem;

  max-width: 625px;
  width: 100%;
  height: 520px;
}
.global__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}
