.single {
  position: relative;
  padding: 5rem;

  > div {
    margin: 3rem 0;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  > h2 {
    font-size: 2.6rem;
    color: var(--gray-900);
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }

  table {
    width: 100%;
    margin-top: 3rem;
    th {
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--gray-500);
      text-align: left;
      padding: 0.5rem;
    }
    td {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--gray-700);
      text-align: left;
      padding: 0.5rem;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        background-color: red;
        border-radius: 100px;
      }
    }
  }

  &__head {
    padding-top: 4rem !important;
  }
}
