.SliderButtons {
  background: var(--green-100);
  max-width: 185px;
  border-radius: 100px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  transition: all 0.2s ease;

  button {
    width: 50%;
    border: 0;
    color: var(--gray-500);
    border-radius: 100px;
    font-size: 1.2rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
  }

  .active {
    background-color: var(--green);
    color: var(--white);
  }

  transition: all 0.2s ease;
  &:hover {
    filter: brightness(0.98);
  }
}
